/*Breadcrumbs*/

.o-breadcrumb {
	margin: 1em 0;
}

.o-breadcrumb__crumb {
	float: left;
	margin-right: 0.75em;
	list-style: none;
}

.o-pagination li {
	border: 1px solid;
	float: left;
	margin-right: 0.75em;
	padding: 0.25em 0.5em;
}