.o-productlist {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(12.5em, 1fr));
	grid-column-gap: var(--column-gap-small);
	grid-row-gap: var(--row-gap);
}

.o-productlist__item {
	display: flex;
	flex-direction: column;
}

.o-product__onsale {
	background: #ff0000 none repeat scroll 0 0;
    padding: 0 2em;
    position: absolute;
    right: -26px;
    top: 10px;
    transform: rotate(48deg);
    z-index: 5000;
}

.attachment-shop_catalog {
	width: 100%;
}

/*Single Product */
.o-product {
	grid-column: 1 / -1;
}

.o-product__description {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding-top: 1em;
    margin-bottom: 1em;
}

.o-product__meta {
	border-bottom: 1px solid;
    border-top: 1px solid;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.o-cart {
	display: flex;
}
