* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
}

:root {
    --spacing-small: .5em;
    --spacing-medium: 1em;
    --spacing-large: 1.5em;
    --column-gap: 4vw;
    --column-gap-small: 2vw;
    --row-gap: 1vh;
}

body {
    font: 300 16px/1.412 "Droid Sans", "Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #444;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.has-visible-menu {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
}

@media only screen and (max-width: 59.999em) {
    body {
        font-size: 14px;
    }
}

/* 727px */
@media only screen and (max-width: 45.499em) {

    .u-hidden\@sm {
        display: none;
    }

    body {
        padding: 0 5%;
    }

}

/* 728px */
@media only screen and (min-width: 45.5em) {
    .site-footer {
        grid-column: 1 / -1;
    }

    .site-title {
        display: none;
    }

}

@media only screen and (min-width: 45.5em) and (max-width: 60.624em) {
    .u-hidden\@md {
        display: none;
    }

    body {
        padding: 0 10%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: var(--column-gap);
        grid-row-gap: var(--row-gap);
    }

    main {
        grid-column: 1 / 4;
    }

    .o-sidebar {
        grid-column: 4 / -1;
    }

}

@media only screen and (min-width: 60.625em) {
    .u-hidden\@lg {
        display: none;
    }

    body {
        padding: 0 10%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-column-gap: var(--column-gap);
        grid-row-gap: var(--row-gap);
    }

    main {
        grid-column: 1 / 7;
    }

    .o-sidebar {
        grid-column: 7 / -1;
    }
}
