.c-toggle {
	text-indent: -9999em;
	content: "";
	width: 2em;
	height: 0.5em;
	background: #fff;
	box-shadow: 0 0.7em 0 0 #fff, 0 1.4em 0 0 #fff;
	float: right;
	margin-top: 1em;
}

@media only screen and (max-width: 32.749em) {
	.c-navmenu--main_menu {
		width: 150px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -150px;
		background: #428bca;
		padding: 15px;
	}
}

@media only screen and (min-width: 32.750em) {
	.c-navmenu__close {
		display: none;
	}

	.c-sitetitle {
		display: none;
	}

	.c-navmenu--main_menu {
		grid-column-start: 2;
		grid-row-start: 1;
		align-self: center;
	}

	.c-navmenu__menu--main_menu {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(71px, 1fr));
	}

	.c-navmenu__item--main_menu {
		align-self: center;
  		justify-self: center;
	}
}

.o-breadcrumb__crumb {
	float: left;
}

.o-breadcrumb__crumb:not(:last-of-type) {
	margin-right: .5em;
}
