.c-toggle {
	text-indent: -9999em;
	content: "";
	width: 1em;
	height: 0.25em;
	background: black;
	box-shadow:
	0 0.35em 0 0 black,
	0 .7em 0 0 black;
	float: right;
}

@media only screen and (max-width: 45.499em) {
	.c-navmenu--main_menu {
		width: 150px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -150px;
		background: #428bca;
		padding: 15px;
	}
}

@media only screen and (min-width: 45.5em) {
	.c-navmenu__close {
		display: none;
	}

.o-breadcrumb__crumb {
	float: left;
}

.o-breadcrumb__crumb:not(:last-of-type) {
	margin-right: .5em;
}
