.site-footer {
	background: #dcdcdc;
	padding: 1em;
	margin-bottom: 1em;
}

.o-logo--site-footer {
	float: left;
}

.o-logo--site-footer {
	margin-right: 1em;
	margin-bottom: 1em;
	width: 25%;
}

.o-contact {
	float: left;
	width: 25%;
}

.c-navmenu--footer_menu {
	float: left;
	width: 45%;
}

.c-navmenu__menu--footer_menu {
	overflow: hidden;
	margin-bottom: 0;
}

.c-navmenu__item--footer_menu {
	float: left;
	width: 50%;
	width: calc(50% - .35em);
	margin-right: .35em;
	margin-bottom: .5em;
}

.copyright {
	margin-bottom: 1em;
}
