input, textarea, select {   
   width: 100%;
   margin: 0 0 1em 0;
   padding: .5em;
}

input[type="checkbox"], input[type="radio"] {
   
}

select {
   
}

textarea {
    min-height: 156px;
}

label {
   
}


input[type="submit"], button {
   
}


input[type="submit"]:hover, button:hover {
  
}

input[type="submit"]:active, button:active {
   
}