.flex-control-thumbs {
	text-align: center;
	list-style: none;
}

.flex-control-thumbs li {
	display: inline-block;
	width: 20%;
}

.woocommerce-product-gallery__trigger {
	background: #333;
    left: 0;
    padding: 0.5em;
    position: absolute;
    top: 0;
    z-index: 1000;
}