@media only screen and (min-width: 36.375em) {
	.o-portfolio {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	    grid-column-gap : 2vw;
	}

	.o-portfolio__item {
		align-items: center;
		justify-content: center;
	}
}

.o-portfolio__item--page {
	border-bottom: 1px solid #e7e7e7;
    padding-bottom: 1em;
}

.o-portfolio__about {
	margin: 1.5em 0;
}

.o-portfolio__item--block {
	border: 1px solid #e7e7e7;
	padding: .5em;
}

.o-portfolio__thumbnail {
	margin-bottom: 1em;
}

@media only screen and (min-width: 45.5em) {

	.o-portfolio__thumb {
		float: left;
		width: 35%;
		margin-right: 5%;
	}

	.o-portfolio__description {
		float: left;
		width: 60%;
	}
}
