body {
        width: 100%;
        margin: 0;
        float: none;
        background: #fff;
        font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
        color: #000;
        font-size: 1em;
}

.u-hidden\@print {
        display: none;
}

img {
        max-width: 100%;
}

li {
        list-style: none;
        padding: 0; 
}

a img {
        border: 0;
}

h1, h2, h3, h4, h5, h6 {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        color: #000;
        page-break-after: avoid;
        orphans: 3;
        widows: 3;
}

a:link, a:visited {
        color: #00c;
        font-weight: bold;
        text-decoration: underline; 
}

