* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
}

/* Setup variables */
body {
    --brand-color: #003399;
}

body {
    font: 400 16px/1.412 "Lora", "Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #444;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 5%;
    display: grid;
    grid-column-gap : 2vw;
}

main {
    grid-column: 1 / -1;
}

@media only screen and (max-width: 59.999em) {
    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 45.499em) {

    body {
        grid-template-columns: repeat(6, 1fr);
    }

    .u-hidden\@sm {
        display: none;
    }

    .site-wrap {
        padding: 0 5%;
    }

}

@media only screen and (min-width: 45.5em) and (max-width: 60.624em) {
    body {
        grid-template-columns: repeat(9, 1fr);
    }

    .u-hidden\@md {
        display: none;
    }

    .site-wrap {
        margin: 0 10%;
    }

}

@media only screen and (min-width: 60.625em) {
    body {
        grid-template-columns: repeat(12, 1fr);
    }

    .u-hidden\@lg {
        display: none;
    }

    .site-wrap {
        margin: 0 15%;
    }
}
