/*
ICTFC Theme: ICTFC Theme
Theme URI: http://www.dcthomson.co.uk/
Author: Graeme Pirie
Author URI: http://graemepirie.com
Description: Theme for speculative ICTFC site design.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: ictfc-theme
Tags:

Contents:

$trumps


/* $trumps - Really specific styles that override styles set above. */
