.o-products {
	margin: 1em 0;
}

.o-products__item {
	margin-bottom: 1em;
	float: left;
}

@media only screen and (max-width: 42.49em) {
	.o-products__item {
		width: 45%;
	}

	.o-products__item:nth-child(odd) {
		margin-right: 5%;
		clear: both;
	}

} 

@media only screen and (min-width: 42.5em) and (max-width: 76.24em) {
	.o-products__item {
		width: 30%;
	}

	.o-products__item:not(:nth-child(3n)) {
		margin-right: 5%;
	}

	.o-products__item:nth-child(3n+1) {
		clear: both;
	}
} 

@media only screen and (min-width: 76.25em) {
	.o-products__item {
		width: 23.5%;
	}

	.o-products__item:not(:nth-child(4n)) {
		margin-right: 1.5%;
	}

	.o-products__item:nth-child(4n+1) {
		clear: both;
	}
}

.o-product__onsale {
	background: #ff0000 none repeat scroll 0 0;
    padding: 0 2em;
    position: absolute;
    right: -26px;
    top: 10px;
    transform: rotate(48deg);
    z-index: 5000;
}

.attachment-shop_catalog {
	width: 100%;
}

/*Single Product */
.o-product__description {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding-top: 1em;
    margin-bottom: 1em;
}

.o-product__meta {
	border-bottom: 1px solid;
    border-top: 1px solid;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.o-cart__quantity {
	float: left;
	margin-right: 1em;
}