.o-predictionsform__fixture {
	margin-bottom: 1em;
}

.o-predictionsform__label {
	display: block;
}

.o-predictionsform__input {
	display: block;
}

@media only screen and (min-width: 45.5em) {
	.o-predictionsform__label {
		float: left;
		width: 20%;
	}

	.o-predictionsform__input {
		float: left;
		width: 20%;
	}

	.o-predictionsform__versus {
		float: left;
		margin: 0 2em;
	}
}
